# Laminar Python

# If you are looking for information about possible extras installations,
# i.e. what you can pass into `pip install 'lmnr[extra1,extra2]'`, please see the
# `[project.optional-dependencies]` section below.

[project]
name = "lmnr"
version = "0.4.55"
description = "Python SDK for Laminar"
authors = [
  { name = "lmnr.ai", email = "founders@lmnr.ai" }
]
readme = "README.md"
requires-python = ">=3.9,<4"
license = "Apache-2.0"
dependencies = [
  "pydantic (>=2.0.3)",
  "requests (>=2.0)",
  "python-dotenv (>=1.0)",
  "opentelemetry-api (>=1.28.0)",
  "opentelemetry-sdk (>=1.28.0)",
  "opentelemetry-exporter-otlp-proto-http (>=1.28.0)",
  "opentelemetry-exporter-otlp-proto-grpc (>=1.28.0)",
  "opentelemetry-instrumentation-requests (>=0.50b0)",
  "opentelemetry-instrumentation-sqlalchemy (>=0.50b0)",
  "opentelemetry-instrumentation-urllib3 (>=0.50b0)",
  "opentelemetry-instrumentation-threading (>=0.50b0)",
  "opentelemetry-semantic-conventions-ai (>=0.4.2)",
  "deprecated (>=1.0)",
  "tqdm (>=4.0)",
  "argparse (>=1.0)",
  "aiohttp (>=3.0)",
  "tenacity (>=8.0)",
  # explicitly freeze grpcio. Since 1.68.0, grpcio writes a warning message
  # that looks scary, but is harmless.
  # WARNING: All log messages before absl::InitializeLog() is called are written to STDERR
  # E0000 00:00:1737439981.199902 9456033 init.cc:229] grpc_wait_for_shutdown_with_timeout() timed out.
  #
  # Related issue:
  # https://discuss.ai.google.dev/t/warning-all-log-messages-before-absl-initializelog-is-called-are-written-to-stderr-e0000-001731955515-629532-17124-init-cc-229-grpc-wait-for-shutdown-with-timeout-timed-out/50020
  # https://github.com/grpc/grpc/issues/38490
  "grpcio<1.68.0",
]

[project.scripts]
lmnr = "lmnr.cli:cli"

[project.optional-dependencies]
# List of all possible extras. You can specify one or more of these extras
# when installing the package, using any of the following examples:
# `pip install 'lmnr[anthropic,openai]'`
# `uv pip install 'lmnr[anthropic,openai]'`
# `uv add lmnr --extra anthropic --extra openai`
# `poetry add 'lmnr[anthropic,openai]'`

alephalpha=["opentelemetry-instrumentation-alephalpha>=0.36.1"]
anthropic=["opentelemetry-instrumentation-anthropic>=0.36.1"]
bedrock=["opentelemetry-instrumentation-bedrock>=0.36.1"]
chromadb=["opentelemetry-instrumentation-chromadb>=0.36.1"]
cohere=["opentelemetry-instrumentation-cohere>=0.36.1"]
google-generativeai=["opentelemetry-instrumentation-google-generativeai>=0.36.1"]
groq=["opentelemetry-instrumentation-groq>=0.36.1"]
haystack=["opentelemetry-instrumentation-haystack>=0.36.1"]
lancedb=["opentelemetry-instrumentation-lancedb>=0.36.1"]
langchain=["opentelemetry-instrumentation-langchain>=0.36.1"]
llamaindex=["opentelemetry-instrumentation-llamaindex>=0.36.1"]
marqo=["opentelemetry-instrumentation-marqo>=0.36.1"]
milvus=["opentelemetry-instrumentation-milvus>=0.36.1"]
mistralai=["opentelemetry-instrumentation-mistralai>=0.36.1"]
ollama=["opentelemetry-instrumentation-ollama>=0.36.1"]
openai=["opentelemetry-instrumentation-openai>=0.36.1"]
pinecone=["opentelemetry-instrumentation-pinecone>=0.36.1"]
qdrant=["opentelemetry-instrumentation-qdrant>=0.36.1"]
replicate=["opentelemetry-instrumentation-replicate>=0.36.1"]
sagemaker=["opentelemetry-instrumentation-sagemaker>=0.36.1"]
together=["opentelemetry-instrumentation-together>=0.36.1"]
transformers=["opentelemetry-instrumentation-transformers>=0.36.1"]
vertexai=["opentelemetry-instrumentation-vertexai>=0.36.1"]
watsonx=["opentelemetry-instrumentation-watsonx>=0.36.1"]
weaviate=["opentelemetry-instrumentation-weaviate>=0.36.1"]
# `all` is the group added for convenience, if you want to install all
# the instrumentations.
all = [
  "opentelemetry-instrumentation-alephalpha>=0.36.1",
  "opentelemetry-instrumentation-anthropic>=0.36.1",
  "opentelemetry-instrumentation-bedrock>=0.36.1",
  "opentelemetry-instrumentation-chromadb>=0.36.1",
  "opentelemetry-instrumentation-cohere>=0.36.1",
  "opentelemetry-instrumentation-google-generativeai>=0.36.1",
  "opentelemetry-instrumentation-groq>=0.36.1",
  "opentelemetry-instrumentation-haystack>=0.36.1",
  "opentelemetry-instrumentation-lancedb>=0.36.1",
  "opentelemetry-instrumentation-langchain>=0.36.1",
  "opentelemetry-instrumentation-llamaindex>=0.36.1",
  "opentelemetry-instrumentation-marqo>=0.36.1",
  "opentelemetry-instrumentation-milvus>=0.36.1",
  "opentelemetry-instrumentation-mistralai>=0.36.1",
  "opentelemetry-instrumentation-ollama>=0.36.1",
  "opentelemetry-instrumentation-openai>=0.36.1",
  "opentelemetry-instrumentation-pinecone>=0.36.1",
  "opentelemetry-instrumentation-qdrant>=0.36.1",
  "opentelemetry-instrumentation-replicate>=0.36.1",
  "opentelemetry-instrumentation-sagemaker>=0.36.1",
  "opentelemetry-instrumentation-together>=0.36.1",
  "opentelemetry-instrumentation-transformers>=0.36.1",
  "opentelemetry-instrumentation-vertexai>=0.36.1",
  "opentelemetry-instrumentation-watsonx>=0.36.1",
  "opentelemetry-instrumentation-weaviate>=0.36.1"
]

[dependency-groups]
dev = [
  "autopep8",
  "flake8",
  "pytest>=8.3.4",
  "pytest-sugar",
  "pytest-asyncio>=0.25.2"
]

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
