[project]
name = "lmnr"
version = "0.4.2"
description = "Python SDK for Laminar AI"
authors = [
  { name = "lmnr.ai", email = "founders@lmnr.ai" }
]
readme = "README.md"
requires-python = "^3.9"
license = "Apache-2.0"

[tool.poetry]
name = "lmnr"
version = "0.4.2"
description = "Python SDK for Laminar AI"
authors = ["lmnr.ai"]
readme = "README.md"
license = "Apache-2.0"

[tool.poetry.dependencies]
python = "^3.9"
pydantic = "^2.7.4"
requests = "^2.32.3"
python-dotenv = "^1.0.1"
backoff = "^2.2.1"
traceloop-sdk = "^0.29.2"
asyncio = "^3.4.3"

[tool.poetry.group.dev.dependencies]
black = "^24.8.0"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"

[project.entry-points.console_scripts]
lmnr = "lmnr.cli.cli:cli"

[tool.poetry.scripts]
lmnr = "lmnr.cli.cli:cli"

[project.optional-dependencies]
test = ["pytest"]
