[project]
name = "lmnr"
version = "0.4.30"
description = "Python SDK for Laminar AI"
authors = [
  { name = "lmnr.ai", email = "founders@lmnr.ai" }
]
readme = "README.md"
requires-python = "^3.9"
license = "Apache-2.0"

[tool.poetry]
name = "lmnr"
version = "0.4.30"
description = "Python SDK for Laminar AI"
authors = ["lmnr.ai"]
readme = "README.md"
license = "Apache-2.0"

[tool.poetry.dependencies]
python = ">=3.9,<4"
pydantic = "~=2.7"
requests = "~=2.0"
python-dotenv = "~=1.0"
backoff = "~=2.0"
opentelemetry-api = "^1.27.0"
opentelemetry-sdk = "^1.27.0"
opentelemetry-exporter-otlp-proto-http = "^1.27.0"
opentelemetry-exporter-otlp-proto-grpc = "^1.27.0"
opentelemetry-instrumentation-requests = "^0.48b0"
opentelemetry-instrumentation-sqlalchemy = "^0.48b0"
opentelemetry-instrumentation-urllib3 = "^0.48b0"
opentelemetry-instrumentation-threading = "^0.48b0"
opentelemetry-semantic-conventions-ai = "0.4.2"
tenacity = ">=8.0"
jinja2 = "~=3.0"
deprecated = "~=1.0"
opentelemetry-instrumentation-alephalpha = ">=0.33.5"
opentelemetry-instrumentation-anthropic = ">=0.33.5"
opentelemetry-instrumentation-bedrock = ">=0.33.5"
opentelemetry-instrumentation-chromadb = ">=0.33.5"
opentelemetry-instrumentation-cohere = ">=0.33.5"
opentelemetry-instrumentation-google-generativeai = ">=0.33.5"
opentelemetry-instrumentation-groq = ">=0.33.5"
opentelemetry-instrumentation-haystack = ">=0.33.5"
opentelemetry-instrumentation-lancedb = ">=0.33.5"
opentelemetry-instrumentation-langchain = ">=0.33.5"
opentelemetry-instrumentation-llamaindex = ">=0.33.5"
opentelemetry-instrumentation-marqo = ">=0.33.5"
opentelemetry-instrumentation-milvus = ">=0.33.5"
opentelemetry-instrumentation-mistralai = ">=0.33.5"
opentelemetry-instrumentation-ollama = ">=0.33.5"
opentelemetry-instrumentation-openai = ">=0.33.5"
opentelemetry-instrumentation-pinecone = ">=0.33.5"
opentelemetry-instrumentation-qdrant = ">=0.33.5"
opentelemetry-instrumentation-replicate = ">=0.33.5"
opentelemetry-instrumentation-sagemaker = ">=0.33.5"
opentelemetry-instrumentation-together = ">=0.33.5"
opentelemetry-instrumentation-transformers = ">=0.33.5"
opentelemetry-instrumentation-vertexai = ">=0.33.5"
opentelemetry-instrumentation-watsonx = ">=0.33.5"
opentelemetry-instrumentation-weaviate = ">=0.33.5"
tqdm = "~=4.0"
argparse = "~=1.0"

[tool.poetry.group.dev.dependencies]
autopep8 = "^2.2.0"
flake8 = "7.0.0"
pytest = "^8.2.2"
pytest-sugar = "1.0.0"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"

[tool.poetry.scripts]
lmnr = "lmnr.cli:cli"

[project.optional-dependencies]
test = ["pytest"]
