interactions:
- request:
    body: '{"query": "test query", "numResults": 1}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.exa.ai/search
  response:
    body:
      string: '{"requestId":"ca5ff9e5668d3d97f95a20abd19e049c","autopromptString":"test
        query","resolvedSearchType":"neural","results":[{"id":"https://sqltest.net/","title":"SQL
        Test","url":"https://sqltest.net/","author":null}],"searchTime":1702.3,"costDollars":{"total":0.005,"search":{"neural":0.005}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"122-0cnae7ifrHWwL9XSpfJ+oeaXrQk"
      X-RateLimit-Limit:
      - '9007199254740991'
      X-RateLimit-Remaining:
      - '9007199254740990'
      X-RateLimit-Reset:
      - '1757969389'
    status:
      code: 200
      message: OK
version: 1
