interactions:
- request:
    body: '{"query": "AI in healthcare", "numResults": 2, "contents": {"text": true}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.exa.ai/search
  response:
    body:
      string: "{\"requestId\":\"922d48c892eddcfef1e511e22f045898\",\"autopromptString\":\"AI
        in healthcare\",\"resolvedSearchType\":\"neural\",\"results\":[{\"id\":\"https://pmc.ncbi.nlm.nih.gov/articles/PMC8285156/\",\"title\":\"Artificial
        intelligence in healthcare: transforming the practice of ...\",\"url\":\"https://pmc.ncbi.nlm.nih.gov/articles/PMC8285156/\",\"publishedDate\":\"2021-01-01T00:00:00.000Z\",\"author\":\"\",\"text\":\"[Skip
        to main content](https://pmc.ncbi.nlm.nih.gov/pmc.ncbi.nlm.nih.gov#main-content)\\n\\n**Official
        websites use .gov**\\nA\\n**.gov** website belongs to an official\\ngovernment
        organization in the United States.\\n\\n**Secure .gov websites use HTTPS**\\nA
        **lock** (\\n\\nLocked padlock icon\\n) or **https://** means you've safely\\nconnected
        to the .gov website. Share sensitive\\ninformation only on official, secure
        websites.\\[...]
