interactions:
- request:
    body: '{"url": "https://www.techcrunch.com/", "numResults": 2, "contents": {"text":
      true}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.exa.ai/findSimilar
  response:
    body:
      string: "{\"requestId\":\"40c6a25a89ffaba535c299f969a375ab\",\"results\":[{\"id\":\"https://techcrunch.com/?mc_cid=4b6a15b702&mc_eid=%5BUNIQID\",\"title\":\"TechCrunch
        | Startup and Technology News\",\"url\":\"https://techcrunch.com/?mc_cid=4b6a15b702&mc_eid=%5BUNIQID\",\"publishedDate\":\"2025-06-13T22:09:17.000Z\",\"author\":\"Maxwell
        Zeff\",\"score\":0.9343951940536499,\"text\":\"[Apps](https://techcrunch.com/category/apps/)\\n\\n###
        [Spotify is finally launching support for lossless music streaming](https://techcrunch.com/2025/09/10/spotify-is-finally-launching-support-for-lossless-music-streaming/)\\n\\n-
        [Ivan Mehta](https://techcrunch.com/author/ivan-mehta/)\\n\\n5 hours ago\\n\\n[Apps](https://techcrunch.com/category/apps/)\\n\\n###
        [Vimeo to be acquired by Bending Spoons in $1.38B all-cash deal](https://techcrun[...]
